/* header */

.header {
  padding: 12px 0;
  background-color: transparent;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  will-change: background-color;
  transition: 0.4s ease-in-out;
}
.header-fixed {
  position: fixed;
  background-color: var(--black);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.header-mobile {
  display: none;
}
.header__logo {
}
.header__links {
}
.header__links li {
  display: inline-block;
  margin: 0 20px;
}
.header__links li a {
  font-size: 18px;
  color: var(--white);
  transition: 0.2s ease-in-out;
}
.header__links li a:hover {
  color: var(--primary);
}

/* hero */

.hero {
  z-index: 0;
  position: relative;
  background-image: url("./assets/image/banner.png.webp");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0.6);
}
.hero-wrap {
  padding: 220px 0;
}
.hero-title {
  color: var(--white);
  font-size: 60px;
}

/* sevice */
.ptb-120 {
  padding: 120px 0;
}
.section-top {
  display: block;
  color: var(--primary);
  font-size: 14px;
  margin-bottom: 20px;
}
.section-top.section-black {
  color: var(--white);
}
.services .section-title {
  text-align: center;
}
.section-title {
  font-size: 26px;
  margin-bottom: 40px;
}
.section-title.section-black {
  color: white;
}
.section-description {
  font-size: 18px;
  color: gray;
  margin-bottom: 60px;
}

.card {
  border: 1px solid var(--light);
  border-radius: 2px;
  padding: 30px 40px;
  transition: border-color 0.4s;
  will-change: border-color;
  margin-bottom: 30px;
}
.card:hover {
  border-color: var(--primary);
}
.card-logo {
}
.card-title {
  font-size: 20px;
  margin: 18px 0;
}
.card-description {
  font-size: 16px;
  color: var(--gray);
}

/* about */
.about {
  background-color: var(--black);
  position: relative;
}
.about::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-image: url("./assets/image/about.webp");
}
.about-wrap {
  padding: 100px 0;
}

/* how */
.how {
  position: relative;
}
.how::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 20px 0 0 20px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url("./assets/image/work.webp");
}

/* feature */
.feature-wrap {
  height: 300px;
  margin-bottom: 30px;
  position: relative;

  display: flex;
}

.feature__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transform: scale(0.8);
  opacity: 0;
  background-color: var(--white);
  will-change: opacity, background-color;

  transition: 0.4s ease-in-out;
}
.feature-hover__topic {
  color: var(--primary);
}
.feature-hover__title {
}
.feature-hover__btn {
}
.feature-wrap:hover .feature-hover {
  opacity: 1;
  transform: scale(1);
}
.featured .section-description {
  margin-bottom: 80px;
}

/* team */
.team-card {
}
.team-card__image {
  display: flex;
}
.team-card__image img {
  flex: 1;
}
.team-card__name {
  font-size: 18px;
  font-weight: bold;
  margin: 6px;
}
.team-card__position {
  color: gray;
  font-size: 16px;
}
.team-card__icons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;

  opacity: 0;
  transition: 0.2s ease-in-out;

  will-change: opacity, padding-bottom;
}
.team-card__icons i {
  font-size: 26px;
  color: rgb(43, 5, 48);
  margin: 0 8px;
}
.team-card:hover .team-card__icons {
  opacity: 1;
  padding-bottom: 10px;
}
.send-btn {
  width: 100%;
}

/* rate */
.rate {
  background-image: url("./assets/image/rate.webp");
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--white);

  position: relative;
  z-index: 0;
}
.rate::before {
  content: "";
  position: absolute;
  z-index: -1;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}
.rate-wrap {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rate__content {
  font-size: 30px;
}
.rate__name {
  font-size: 22px;
  margin: 10px;
}
.rate__position {
  font-size: 16px;
  color: var(--light);
}

#rate .owl-dots .active > span {
  background: var(--primary);
}

/* footer */
footer {
  color: var(--white);
  background-color: var(--black);
}
footer i,
footer a {
  color: var(--white);
}
footer ul > li {
  display: inline-block;
}
.footer-top {
  padding: 100px 0;
}
.footer__logo {
}
.footer__links li:not(:first-child) {
  margin-left: 30px;
}
.footer__links a {
  font-size: 16px;
  transition: 0.2s ease-in-out;
}
.footer__links a:hover {
  color: var(--primary);
}
.footer__icons {
  font-size: 26px;
  text-align: right;
}
.footer__icons li:not(:first-child) {
  margin-left: 8px;
}
.footer-bottom {
  padding: 16px 0;
  border-top: 1px solid gray;
  text-align: center;
  color: gray;
}
.footer-bottom a {
  color: var(--primary);
}
